{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>SPIDER MAN</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, illum fugiat! Tenetur quaerat nobis eos, quidem tempore porro sed aliquid saepe! Facere rerum accusamus aperiam, magni voluptas ducimus debitis a!
        </p>
    </div>

    <div class="col-4">
        <img src="/06-web_server/public/assets/img/spider-man.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}